<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Aravind Merugu</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="icon" href="static/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="top-container">
    <div class="">
      <img class="top-cloud" src="static/cloud.png" alt="cloud-img">
      <img src="static/aravind.png" alt="">
      <h1>I'm Aravind</h1>
      <h2>a <span class="pro">pro</span>grammer</h2>
      <img class="bottom-cloud" src="static/cloud.png" alt="cloud-img">
      <img src="static/mountain.png" alt="mounntain-img">
    </div>
    </div>

    <div class="middle-container">
  <div class="profile">
    <h2>Education</h2>

      <p>2016-2020: Graduated from Kakatiya University under IT stream with 74.8%</p>
      <p>2014-2016: completed intermediate(M.P.C) wwith 95.8%</p>
      <p>2013-2014: completed High school with 9.3 GPA</p>

  </div>
  <hr>
  <div class="skills">
    <div class="skill-row">
      <img class="learn-img" src="https://media.giphy.com/media/XuBtcsV266vepmoEYG/giphy.gif" alt="">
      <h2>Work/Projects</h2>
      <table border="1" class="proj-desc">
        <thead>
          <tr>
            <th>project</th>
            <th>details</th>
            <th>technologies</th>
          </tr>
        </thead>

        <tbody>
        <tr>
            <td>A Secure Anti-Collusion Data Sharing Scheme for Dynamic Groups inCloud</td>
            <td>We developed a secure data sharing scheme for dynamic members by
              implementing a secure way for key distribution withsecurecommunication channels.</td>
            <td>Java, Msql</td>
        </tr>
        <tr>
          <td>KU B.Tech [official]</td>
          <td>Developed this android application for my college staff and students. Gathered lots of Information from all streams of our college and made available in this app.
            Our college principal acknowledged my works and announced it as our college official application.</td>
          <td>Java, Xml, android Studio</td>
        </tr>
        <tr>
          <td>Flash LightLumos</td>
          <td>This application uses speech Recognizer software to turn on and off flashlight.</td>
          <td>Thunkable, Block based coding</td>
        </tr>
        </tbody>
      </table>
    </div>
  <div class="skill-row" >
  <img class="skill-img" src="https://media.giphy.com/media/Jrdii1GGXLC9yfArdO/giphy.gif" alt="">
  <h2>Skills</h2>
      <table  cellspacing = "5" border="1" class="skill-desc">
        <tr>
          <td>Android Developer</td>
          <td>⭐⭐⭐⭐⭐</td>
        </tr>
        <tr>
          <td>Python</td>
          <td>⭐⭐⭐⭐</td>
        </tr>
        <tr>
          <td>SQL</td>
          <td>⭐⭐⭐⭐</td>
        </tr>
      </table>
    </div>
  </div>
  <hr>
  <div class="contact-me">
    <h2>Get In Touch</h2>
    <a class="btn" href="mailto:aravindkucet@gmail.com">CONTACT ME</a>
  </div>
</div>


<div class="bottom-container">
  <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
  <a class="footer-link" href="https://twitter.com/">Twitter</a>
  <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
  <p>© 2022 Aravind Merugu.</p>
</div>


  </body>
</html>
